<% content_for :header_links do %>
  <a class="add" href='/lists/new'>New list</a>
<% end %>

<ul id="lists">
  <% #s_list = @lists %>
  <% @lists.each do |list| %>
    <li class="<%= list_class(list) %>">
      <a>
        <h2><a href=<%= list_url(list[:id]) %>><%= list[:name] %></a></h2>
        <p><%= remaining(list[:todos]) %>/<%= list[:todos].size %></p>
      </a>
    </li>
  <% end %>
